/*.custom_modal_content {
    border: 5px;
    border-top-style: groove;
    border-left-style: groove;
    border-bottom-style: ridge;
    border-right-style: ridge;
    border-color: #135da6;
    border-radius: 0.5rem;
    overflow: hidden;
}
.custom_modal_head {
    background-color: #3bb5fe;
    color: #ffffff;
    border-bottom: 3px ridge;
    border-color: #135da6;
}
.custom_modal_body {
    background-color: #b7d4ea;
}
.custom_modal_footer {
    background-color: #b7d4ea;
    border-top: 3px groove;
    border-color: #135da6;
}
.Modal_content_mensajes {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: red;
}*/