<connectionStrings>

	<add name="cnxAlmacen" connectionString="3oAoKkLIFZZF6qKqyuYhJ31GgUlUg11liKjenWC7+p802XIe2N0fE2j7puwLQon31R+gxAozk3U2DSPymBeqvlEFsLZ0xf4D6Cn5LZZax3I5oRO2RSqVW9tiz7lOOGr/PYd+ozNP+S5S/uk5n0JwyK6alEjx12Z3CwArkj0PDCU=" />

	<!--<add name="cnxAlmacen" connectionString="z2F4P2aqfZQU4Qshs7+9MSyf/8GPi+7lpix7bswuhbSo9qVSsO46lzRUPIs6sKfkXA2XumejvTnaNzgvjJrYSY4PlbGeCdvTW4tzoMY+uOw=" />-->
</connectionStrings>
