<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--Key Encrypt Aes256-->
		<add key="KeyAes" value="aUlUFN8dl7wjjghNh9ZU1Tnw7mrqaRIhz2j9YZKSCCE=" />
		<!--Iv Encrypt Aes256-->
		<add key="IvAes" value="viffzbX7+LnRY3uAGrGTaA==" />

		<!--Recargar Tabla de Gestor Inventario - valor en milisegundos -->
		<add key="CargaGestorInventario" value="30000" />

		<!--Tiempo para terminar sesión  - valor en minutos -->
		<!--<add key="TimeOutSession" value="" />-->

	</appSettings>
	<connectionStrings>
		<!--EDUARDO DB-->
		<add name="cnxAlmacen" connectionString="3oAoKkLIFZZF6qKqyuYhJxcEcXC9aslUcJi4EVmzVFk8HFGXPUY8tUCIpwjtFxuB2deiq5dTLcs/vN1aiUEckXp9myC305b79aoQztI0WQatdKT3fylyncb22SnYID3rSw1uk2nLqQcBeH1tDB1rZrREHANRrWM8IR65t4rzOr5oPQ+Af00Q9eGaGUCzge+tWUyNvgjYzTapWWbq/p2DYw==" /> 
		<!--<add name="cnxAlmacen" connectionString="3oAoKkLIFZZF6qKqyuYhJ31GgUlUg11liKjenWC7+p802XIe2N0fE2j7puwLQon31R+gxAozk3U2DSPymBeqvlEFsLZ0xf4D6Cn5LZZax3I5oRO2RSqVW9tiz7lOOGr/PYd+ozNP+S5S/uk5n0JwyK6alEjx12Z3CwArkj0PDCU=" />-->
		
		<!--JOSUE DB-->
		<!--<add name="cnxAlmacen" connectionString="Liqj/MImiV8KAUBOocDk3Rj/p/b5huduLkyDRLMC27Gut6keUsw6fC0VS93sD1sXCAmBfJmul3Rw/piotXJeiBBjCv8Um3F3ShbQ5zU1oZ2HKYo0NbTacVG4va2bGDeJDPnLe5X7Mx1VuppSqiCGSg==" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />

		<!--Eliminación de encabezados-->
		<httpRuntime targetFramework="4.8" maxRequestLength="10240" enableVersionHeader="false" />

		<sessionState mode="InProc" cookieless="false" timeout="1440" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />

		<customErrors mode="On" defaultRedirect="~/Error.aspx">
			<error statusCode="404" redirect="~/NotFound.aspx" />
		</customErrors>
	</system.web>
	<system.webServer>
		<modules>
			<!--Content Security Policy (CSP)-->
			<add name="CspNonceHeaderModule" type="TomaInventarioWEB.Assets.Clases.CspNonceHeaderModule" />

		</modules>

		<httpProtocol>
			<customHeaders>
				<clear />
				<!--protección contra Clickjacking-->
				<!--<add name="X-Powered-By" value="Web Server" />-->
				<add name="X-Frame-Options" value="DENY" />

				<!--Remover tecnologías utilizadas (X-Powered-By, Server, X-AspNet-Version)-->
				<remove name="X-Powered-By" />

				<!--Encabezado X-Content-Type-Options-->
				<add name="X-Content-Type-Options" value="nosniff" />
				<!--Strict-Transport-Security-->
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
			</customHeaders>

		</httpProtocol>

		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<!--<add verb="OPTIONS" allowed="false" />-->
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
